<p id="notice"><%= notice %></p>

<h1>Admin Cars</h1>

<table>
  <thead>
    <tr>
      <th>Manufacture</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.manufacture %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= link_to 'Show', admin_car_path(car) %></td>
        <td><%= link_to 'Edit', edit_admin_car_path(car) %></td>
        <td><%= link_to 'Destroy', admin_car_path(car), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Car', new_admin_car_path %>
