<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacture:</strong>
  <%= @car.manufacture %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<%= link_to 'Edit', edit_admin_car_path(@car) %> |
<%= link_to 'Back', admin_cars_path %>
